@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

.background {
  background-color: #e0ede0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.custom-button {
  background-color: #00570063 !important;
  color: #ffffff !important;
}

.custom-button-one {
  background-color: #005700 !important;
  color: #ffffff !important;
}

.primary-color {
  color: #005700;
}

.logo {
  max-width: 100%;
}
